{deps, [
        {jsone,   ".*", {git, "git://github.com/sile/jsone.git", {tag, "1.5.3"}}},
        {gproc,   ".*", {git, "git://github.com/voxoz/gproc", {tag,"master"}}},
        {ekka,    ".*", {git, "git://github.com/xio/ekka", {branch, "v0.7"} }},
        {esockd,  ".*", {git, "git://github.com/emqx/esockd", {tag,"v5.7.3"}}},
        {cowboy,  ".*", {git, "git://github.com/ninenines/cowboy.git", {tag,"2.8.0"}}},
        {gen_rpc, ".*", {git, "git://github.com/xio/gen_rpc", {tag,"master"}}},
        {replayq, ".*", {git, "git://github.com/xio/replayq", {tag,"master"}}}
       ]}.

{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            debug_info,
            {d, 'APPLICATION', emqx},
            compressed %% for edge
           ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions
              ]}.

{erl_first_files, ["src/emqx_logger.erl"]}.
{eunit_tests, [{dir, "test"}]}.
{plugins, [rebar3_proper]}.
{profiles,[
  {test, [
    {deps, [
      {meck,    ".*", {git, "https://github.com/eproxus/meck", {tag, "0.9.0"}}},
      {proper,  ".*", {git, "https://github.com/proper-testing/proper", {tag, "v1.3"}}}
    ]}
  ]}
]}.